* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: lightpink;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  background-color: blue;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.head-tile {
  height: 50px;
  width: 200px;
  background-color:brown;
  padding: 20px;
}

.container {
  background-color: black;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tile {
  height: 200px;
  width: 200px;
  background-color: aliceblue;
}